<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxl.test.myproject.dao.mapper.PermissionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zxl.test.myproject.dao.domain.PermissionInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="PermissionUrl" property="permissionUrl" jdbcType="VARCHAR" />
    <result column="Pid" property="pid" jdbcType="INTEGER" />
    <result column="CreateDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="LastUpdateDate" property="lastUpdateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, `Name`, PermissionUrl, Pid, CreateDate, LastUpdateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zxl.test.myproject.dao.domain.PermissionInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_permission_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_permission_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_permission_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxl.test.myproject.dao.domain.PermissionInfoCriteria" >
    delete from t_permission_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxl.test.myproject.dao.domain.PermissionInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_permission_info (`Name`, PermissionUrl, Pid, 
      CreateDate, LastUpdateDate)
    values (#{name,jdbcType=VARCHAR}, #{permissionUrl,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zxl.test.myproject.dao.domain.PermissionInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_permission_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        `Name`,
      </if>
      <if test="permissionUrl != null" >
        PermissionUrl,
      </if>
      <if test="pid != null" >
        Pid,
      </if>
      <if test="createDate != null" >
        CreateDate,
      </if>
      <if test="lastUpdateDate != null" >
        LastUpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null" >
        #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxl.test.myproject.dao.domain.PermissionInfoCriteria" resultType="java.lang.Integer" >
    select count(*) from t_permission_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_permission_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        `Name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionUrl != null" >
        PermissionUrl = #{record.permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        Pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        CreateDate = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateDate != null" >
        LastUpdateDate = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_permission_info
    set id = #{record.id,jdbcType=INTEGER},
      `Name` = #{record.name,jdbcType=VARCHAR},
      PermissionUrl = #{record.permissionUrl,jdbcType=VARCHAR},
      Pid = #{record.pid,jdbcType=INTEGER},
      CreateDate = #{record.createDate,jdbcType=TIMESTAMP},
      LastUpdateDate = #{record.lastUpdateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxl.test.myproject.dao.domain.PermissionInfo" >
    update t_permission_info
    <set >
      <if test="name != null" >
        `Name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null" >
        PermissionUrl = #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        Pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        CreateDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        LastUpdateDate = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxl.test.myproject.dao.domain.PermissionInfo" >
    update t_permission_info
    set `Name` = #{name,jdbcType=VARCHAR},
      PermissionUrl = #{permissionUrl,jdbcType=VARCHAR},
      Pid = #{pid,jdbcType=INTEGER},
      CreateDate = #{createDate,jdbcType=TIMESTAMP},
      LastUpdateDate = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.zxl.test.myproject.dao.domain.PermissionInfoCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_permission_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>