<div>
	<div ng-hide="isViewModel" class="btn-toolbar" data-role="editor-toolbar" data-target=".editor-input-area">
		<div class="btn-group">
		  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font"><span class="fa fa-font"></span><b class="caret"></b></a>
		    <ul class="dropdown-menu">
		    </ul>
		  </div>
		<div class="btn-group">
		  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font Size"><span class="fa fa-text-height"></span>&nbsp;<b class="caret"></b></a>
		    <ul class="dropdown-menu">
		    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
		    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
		    <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
		    </ul>
		</div>
		<div class="btn-group">
		  	<a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><span class="fa fa-bold"></span></a>				  	
		  	<a class="btn btn-default" data-edit="italic"  title="Italic (Ctrl/Cmd+I)"><span class="fa fa-italic"></span></a>
			<a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><span class="fa fa-underline"></span></a>
		</div>
		<div class="btn-group">
		  	<a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><span class="fa fa-align-left"></span></a>
		  	<a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><span class="fa fa-align-right"></span></a>
		  	<a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><span class="fa fa-align-center"></span></a>
			<a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><span class="fa fa-align-justify"></span></a>
		</div>
		<div class="btn-group">
		  	<a class="btn btn-default" data-edit="indent" title="Indent (Tab)"><span class="fa fa-indent"></span></a>
		  	<a class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><span class="fa fa-outdent"></span></a>
		</div>
		<div class="btn-group">
		  	<a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><span class="fa fa-list-ul"></span></a>
		  	<a class="btn btn-default" data-edit="insertorderedlist" title="Number list"><span class="fa fa-list-ol"></span></a>
		</div>
		<div class="btn-group">
			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><span class="fa fa-link"></span></a>
			<div class="dropdown-menu input-append">
				<input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
				<button class="btn" type="button">Add</button>
			</div>
			<a class="btn btn-default" data-edit="unlink" title="Remove Hyperlink"><span class="fa fa-unlink"></span></a>
		</div>
		<div class="btn-group">
			<a class="btn btn-default" title="Insert picture (or just drag & drop)" id="pictureBtn"><span class="fa fa-picture-o"></span></a>
			<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
		</div>
		<div class="btn-group">
			<a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><span class="fa fa-undo"></span></a>
			<a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><span class="fa fa-repeat"></span></a>
		</div>			
	</div>	
	<div ng-hide="isViewModel" id="wysiwyg" class="editor-inner"></div>
	<input type="hidden" id="editorContent" name="editorContent"/>
	<div ng-show="isViewModel" class="editor-inner form-group unselectable"></div>			
</div>