<!-- <div calss="form-group"> -->
<!--     <carousel interval="myInterval"> -->
<!--         <slide ng-repeat="slide in slides" active="slide.active"> -->
<!--             <img ng-src="{{slide.image}}" style="margin:auto;"> -->
<!--             <div class="carousel-caption"> -->
<!--                 <p>{{slide.text}}</p> -->
<!--             </div> -->
<!--         </slide> -->
<!--     </carousel> -->
 <!--</div> -->
  <div infinite-scroll="loadMore()" infinite-scroll-distance='2'>
    <img ng-repeat="image in images" ng-src="http://placehold.it/225x250&text={{image}}">
  </div>
 <div infinite-scroll="loadMore()">
<!--   <div ng-repeat="image in images">http://placehold.it/225x250&text={{image}}</div> -->
<!-- </div> -->

scroll
